# Assignment 1: Preprocessing the Data

Consider the grades dataset provided in file D2_Grades_Dataset.csv.
- This dataset contains grades scored by some old batches in CIS Department in NEDUET.
- The data has been made anonymous by using fictitious values for 'Seat Numbers'.
- First column contains these fictitious ‘Seat No.’.
- Next 41 columns show the grades of students in 41 different courses, while last column shows the CGPA.
- Although the CGPA is calculated from the grades and course credit hours information, but since credit hours are
not mentioned here, let us try predicting the CGPA from grades directly, after making the machine learn from this
dataset. For now we will just preprocess the dataset; will use the resulting dataset in some training problem later.

In [57]:
import pandas as pd

In [58]:
data = pd.read_csv('Datasets/Grades_Dataset.csv')
data

,Seat No.,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,...,CS-312,CS-317,CS-403,CS-421,CS-406,CS-414,CS-419,CS-423,CS-412,CGPA
0,CS-97001,B-,D+,C-,C,C-,D+,D,C-,B-,...,C-,C-,C-,C-,A-,A,C-,B,A-,2.205
1,CS-97002,A,D,D+,D,B-,C,D,A,D+,...,D+,D,C,D,A-,B-,C,C,B,2.008
2,CS-97003,A,B,A,B-,B+,A,B-,B+,A-,...,B,B,A,C,A,A,A,A-,A,3.608
3,CS-97004,D,C+,D+,D,D,A-,D+,C-,D,...,D+,C,D+,C-,B-,B,C+,C+,C+,1.906
4,CS-97005,A-,A-,A-,B+,A,A,A-,B+,A,...,B-,B+,B+,B-,A-,A,A-,A-,A,3.448
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,CS-97567,B,A,A,A-,A+,A,A-,A-,A+,...,A-,A-,A,A,A,B+,B+,B,A,3.798
567,CS-97568,A+,A,A,A,A,A,A,A-,A,...,B+,B+,A,A,A-,B,A-,C,A-,3.772
568,CS-97569,B,A,A-,B+,A,A,A,A,A,...,A-,B,A,B+,A,C,B+,A-,A-,3.470
569,CS-97570,A,B+,D,A,D,D+,B-,C-,B-,...,D,B,B,C-,D,C,B,B-,C,2.193
570,CS-97571,C,D,D,C,C,D+,B,C+,C,...,C+,C,B-,D,F,C-,B+,D,C-,1.753

## 1. Identify irrelevant attributes and remove them.<br/>

In [59]:
X = data.drop(columns=['Seat No.', 'CGPA'])
X

,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,ME-107,...,CS-306,CS-312,CS-317,CS-403,CS-421,CS-406,CS-414,CS-419,CS-423,CS-412
0,B-,D+,C-,C,C-,D+,D,C-,B-,C-,...,C,C-,C-,C-,C-,A-,A,C-,B,A-
1,A,D,D+,D,B-,C,D,A,D+,D,...,D,D+,D,C,D,A-,B-,C,C,B
2,A,B,A,B-,B+,A,B-,B+,A-,A-,...,A-,B,B,A,C,A,A,A,A-,A
3,D,C+,D+,D,D,A-,D+,C-,D,C+,...,C-,D+,C,D+,C-,B-,B,C+,C+,C+
4,A-,A-,A-,B+,A,A,A-,B+,A,A-,...,A-,B-,B+,B+,B-,A-,A,A-,A-,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,B,A,A,A-,A+,A,A-,A-,A+,B+,...,B+,A-,A-,A,A,A,B+,B+,B,A
567,A+,A,A,A,A,A,A,A-,A,A,...,A-,B+,B+,A,A,A-,B,A-,C,A-
568,B,A,A-,B+,A,A,A,A,A,B,...,B+,A-,B,A,B+,A,C,B+,A-,A-
569,A,B+,D,A,D,D+,B-,C-,B-,C-,...,B+,D,B,B,C-,D,C,B,B-,C
570,C,D,D,C,C,D+,B,C+,C,D+,...,D+,C+,C,B-,D,F,C-,B+,D,C-

In [60]:
Y = data[['CGPA']]
Y

      CGPA
0    2.205
1    2.008
2    3.608
3    1.906
4    3.448
..     ...
566  3.798
567  3.772
568  3.470
569  2.193
570  1.753

[571 rows x 1 columns]

## 2. Check for missing values and suggest methods to fix them.<br/>

We can replace the null values with grade 'F'.

In [61]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 571 entries, 0 to 570
Data columns (total 41 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   PH-121     571 non-null    object
 1   HS-101     571 non-null    object
 2   CY-105     570 non-null    object
 3   HS-105/12  570 non-null    object
 4   MT-111     569 non-null    object
 5   CS-105     571 non-null    object
 6   CS-106     569 non-null    object
 7   EL-102     569 non-null    object
 8   EE-119     569 non-null    object
 9   ME-107     569 non-null    object
 10  CS-107     569 non-null    object
 11  HS-205/20  566 non-null    object
 12  MT-222     566 non-null    object
 13  EE-222     564 non-null    object
 14  MT-224     564 non-null    object
 15  CS-210     564 non-null    object
 16  CS-211     566 non-null    object
 17  CS-203     566 non-null    object
 18  CS-214     565 non-null    object
 19  EE-217     565 non-null    object
 20  CS-212     565 non-null    object
 21  CS-215     565 non-null    object
 22  MT-331     562 non-null    object
 23  EF-303     561 non-null    object
 24  HS-304     561 non-null    object
 25  CS-301     561 non-null    object
 26  CS-302     561 non-null    object
 27  TC-383     561 non-null    object
 28  MT-442     561 non-null    object
 29  EL-332     562 non-null    object
 30  CS-318     562 non-null    object
 31  CS-306     562 non-null    object
 32  CS-312     561 non-null    object
 33  CS-317     559 non-null    object
 34  CS-403     559 non-null    object
 35  CS-421     559 non-null    object
 36  CS-406     486 non-null    object
 37  CS-414     558 non-null    object
 38  CS-419     558 non-null    object
 39  CS-423     557 non-null    object
 40  CS-412     492 non-null    object
dtypes: object(41)
memory usage: 183.0+ KB

In [62]:
X = X.fillna('F')
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 571 entries, 0 to 570
Data columns (total 41 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   PH-121     571 non-null    object
 1   HS-101     571 non-null    object
 2   CY-105     571 non-null    object
 3   HS-105/12  571 non-null    object
 4   MT-111     571 non-null    object
 5   CS-105     571 non-null    object
 6   CS-106     571 non-null    object
 7   EL-102     571 non-null    object
 8   EE-119     571 non-null    object
 9   ME-107     571 non-null    object
 10  CS-107     571 non-null    object
 11  HS-205/20  571 non-null    object
 12  MT-222     571 non-null    object
 13  EE-222     571 non-null    object
 14  MT-224     571 non-null    object
 15  CS-210     571 non-null    object
 16  CS-211     571 non-null    object
 17  CS-203     571 non-null    object
 18  CS-214     571 non-null    object
 19  EE-217     571 non-null    object
 20  CS-212     571 non-null    object
 21  CS-215     571 non-null    object
 22  MT-331     571 non-null    object
 23  EF-303     571 non-null    object
 24  HS-304     571 non-null    object
 25  CS-301     571 non-null    object
 26  CS-302     571 non-null    object
 27  TC-383     571 non-null    object
 28  MT-442     571 non-null    object
 29  EL-332     571 non-null    object
 30  CS-318     571 non-null    object
 31  CS-306     571 non-null    object
 32  CS-312     571 non-null    object
 33  CS-317     571 non-null    object
 34  CS-403     571 non-null    object
 35  CS-421     571 non-null    object
 36  CS-406     571 non-null    object
 37  CS-414     571 non-null    object
 38  CS-419     571 non-null    object
 39  CS-423     571 non-null    object
 40  CS-412     571 non-null    object
dtypes: object(41)
memory usage: 183.0+ KB

## 3. Which encoding technique would be most suitable to encode grades of the courses? Use it to convert the categorical columns into numeric ones.

We'll go with ordinal encoding here.

In [63]:
mapp = {'A+': 1,
        'A': 2,
        'A-': 3,
        'B+': 4,
        'B': 5,
        'B-': 6,
        'C+': 7,
        'C': 8,
        'C-': 9,
        'D+': 10,
        'D': 11,
        'F': 12,
        'I': 13,
        'W': 14,
        'WU': 15}

def helper(grade):
    return mapp[grade]

In [64]:

for column in X.columns:
    X[column] = X[column].apply(helper)

In [65]:
X

,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,ME-107,...,CS-306,CS-312,CS-317,CS-403,CS-421,CS-406,CS-414,CS-419,CS-423,CS-412
0,6,10,9,8,9,10,11,9,6,9,...,8,9,9,9,9,3,2,9,5,3
1,2,11,10,11,6,8,11,2,10,11,...,11,10,11,8,11,3,6,8,8,5
2,2,5,2,6,4,2,6,4,3,3,...,3,5,5,2,8,2,2,2,3,2
3,11,7,10,11,11,3,10,9,11,7,...,9,10,8,10,9,6,5,7,7,7
4,3,3,3,4,2,2,3,4,2,3,...,3,6,4,4,6,3,2,3,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,5,2,2,3,1,2,3,3,1,4,...,4,3,3,2,2,2,4,4,5,2
567,1,2,2,2,2,2,2,3,2,2,...,3,4,4,2,2,3,5,3,8,3
568,5,2,3,4,2,2,2,2,2,5,...,4,3,5,2,4,2,8,4,3,3
569,2,4,11,2,11,10,6,9,6,9,...,4,11,5,5,9,11,8,5,6,8
570,8,11,11,8,8,10,5,7,8,10,...,10,7,8,6,11,12,9,4,11,9